:root{
    --main-White:white;
    --main-blue:blue;
    --main-red:red;
    --main-collaspe:rgb(189, 187, 187);
    --main-black:black;
    --main-grey:green;
}
/* body section */
body { 
    margin: 1rem; 
} 
/* form section */
#formContainer { 
    text-align: center;
    gap:10px;
    margin: auto;
    background-color:var(--main-collaspe);
    padding: 3rem;
    border-radius: 1%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
} 
/* button section */
button { 
    margin: 10px; 
    padding: 8px 16px; 
    background-color: var(--main-blue); 
    color:var(--main-White);  
    border-radius: 4px; 
    border: none;
} 
button:hover { 
    cursor: pointer;
    background-color: var(--main-red);

} 
/* table section */
table { 
    border-collapse:var(--main-collaspe); 
    margin-bottom: 20px;
    width: 100%;
} 
th, td { 

    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
} 
th { 

    background-color: var(--main-collaspe); 
    color: var(--main-black); 
} 
/* level section */
label
{
    color: var(--main-black);
}
label:hover,th:hover
{
    cursor: pointer;
    color: var(--main-grey);
}